.about {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 20px;
    margin: 0 auto 0;
    color: rgb(0, 0, 0);
  }
  
  .about-container {
    max-width: 840px;
  }
  
  .about-title {
    font-size: 32px;
    font-weight: bold;
    color: #f2a900;
    margin-bottom: 20px;
  }
  
  .about-text {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
    color: white;
  }
  
  .highlight {
    color: #f2a900;
    font-weight: bold;
  }
  