.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    position: relative;
  }
  
  .logo {
    font-size: 24px;
    color: #f2a900;
    font-weight: bold;
  }

  .navigation__item {
    padding: 30px;
    position: relative;
  }

  .navigation__item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    width: 100%;
    height: 2px;
    background-color: #f7931a;
    transition: transform 0.3s ease;
  }
  
  .navigation__item:hover::after {
    transform: translateX(-50%) scaleX(1);
  }

  .navigation__button--join {
    width: 140px;
    height: 45px;
    align-items: center;
    padding: 12px 8px;
    border: 1px solid #f7931a;
    border-radius: 20px;
    color: #f7931a;
    background-color: white;
    font-weight: bold;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .navigation__button--join:hover {
    background-color: #f7931a;
    color: white;
  }
  

  .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    transition: 0.3s;
  }
  
  .nav-links a:hover {
    color: #f2a900;
  }
  
  .menu-icon {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
  }
  
  .bar {
    height: 3px;
    background-color: black;
    width: 100%;
  }
  
  @media only screen and (max-width: 1000px) {
    .nav-links {
      position: absolute;
      top: 60px;
      right: 0;
      width: 200px;
      height: 200px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgb(77, 77, 77);
      display: none;
      padding: 20px 0;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    }
  
    .nav-links.open {
      display: flex;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  
    .menu-icon {
      display: flex;
    }
  }
  