.header {
    max-width: 1440px;
    max-height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 0;
    border-bottom: 1px solid #F7931A;
  }
  
  .header__logo {
    max-width: 75px;
    max-height: 75px;
    padding: 0 0 0 40px;
  }
  
  .header__item {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  @media only screen and (max-width: 1000px) {
    .header {
      width: 85%;
    }
  }
  
  @media only screen and (max-width: 683px) {
    .header {
      display: flex;
      gap: 10px;
      padding: 32px 0;
    }
  
    .header__logo {
      width: 126px;
    }
  
    .header__item {
      font-size: 14px;
    }
  }