body {
    background-color: white;
    margin: 0;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

.page {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1280px;
  margin: auto;
}